<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link href="static/styles.css" rel="stylesheet" type="text/css" />
    <title> Дом Баззиков </title>
</head>

<body>
    <header>
        <div class="title_block">
            <a href="final.cgi">
                <img class="img-header" src="static/hyperbuzz_pin.png" />
            </a>
            <h1> ДОМ БАЗЗИЛ </h1>
        </div>
        <nav>
            <div class="a-3"><a href="final_log.cgi">Войти</a></div>
        </nav>
    </header>
    <div class="main_block">
        <form id="tablo" action="final.cgi" method="post">
            <!-- 1 -->
            <label>{% if mess %} {{mess}} <br> {% endif %} </label>
            <label>{% if login %}Логин: {{login}}<br> {% endif %} </label>
            <label>{% if password %}Пароль: {{password}}<br> {% endif %} </label>
            <label>
                ФИО:<br />
                {% if er_fio %}
                <label class="error-message"> {{er_fio.value}} </label> <br>
                {% endif %}
                <input name="field-fio" type="fio" {% if fio %} value="{{ fio.value }}" {% endif %} />
            </label><br><br>
            <!-- 2 -->
            <label>
                Телефон:<br />
                {% if er_phone %}
                <label class="error-message"> {{er_phone.value}} </label> <br>
                {% endif %}
                <input name="field-tel" type="tel" {% if phone %} value="{{ phone.value }}" {% endif %} />
            </label><br><br>
            <!-- 3 -->
            <label>
                Email:<br />

                {% if er_email %}
                <label class="error-message"> {{er_email.value}} </label> <br>
                {% endif %}

                <input name="field-email" type="tel" {% if email %} value="{{ email.value }}" {% endif %} />
            </label><br><br>
            <!-- 4 -->
            <label>
                Дата рождения:<br />
                {% if er_birth_date %}
                <label class="error-message"> {{er_birth_date.value}} </label> <br>
                {% endif %}
                <input name="field-birthday" type="date" {% if birth_date %} value="{{birth_date.value}}" {% endif %} />
            </label><br><br>
            <!-- 5 -->
            <label> Пол: <br>
                <input type="radio" {% if not checked2 %} checked="checked" {% endif %} name="radio-group-1"
                    value="1" /> Мужской </label><br>
            <label><input type="radio" {% if checked2 %} checked="{{checked2.value}}" {% endif %} name="radio-group-1"
                    value="2" /> Женский </label><br>
            <!-- 6 -->
            <br>
            <label for="languages">Любимый язык программирования:</label><br>
            {% if er_languages %}
            <label class="error-message"> {{er_languages.value}} </label> <br>
            {% endif %}
            <select id="languages" name="languages" multiple>
                <option value=1 {% if languages %}{% if "1" in languages.value %}selected{% endif %}{% endif %}>Pascal
                </option>
                <option value=2 {% if languages %}{% if "2" in languages.value %} selected {% endif %}{% endif %}>C
                </option>
                <option value=3 {% if languages %}{% if "3" in languages.value %} selected {% endif %}{% endif %}>C++
                </option>
                <option value=4 {% if languages %}{% if "4" in languages.value %} selected {% endif %}{% endif %}>
                    JavaScript</option>
                <option value=5 {% if languages %}{% if "5" in languages.value %} selected {% endif %}{% endif %}>PHP
                </option>
                <option value=6 {% if languages %}{% if "6" in languages.value %} selected {% endif %}{% endif %}>Python
                </option>
                <option value=7 {% if languages %}{% if "7" in languages.value %} selected {% endif %}{% endif %}>Java
                </option>
                <option value=8 {% if languages %}{% if "8" in languages.value %} selected {% endif %}{% endif %}>Haskel
                </option>
                <option value=9 {% if languages %}{% if "9" in languages.value %} selected {% endif %}{% endif %}>
                    Clojure</option>
                <option value=10 {% if languages %}{% if "10" in languages.value %} selected {% endif %}{% endif %}>
                    Prolog</option>
                <option value=11 {% if languages %}{% if "11" in languages.value %} selected {% endif %}{% endif %}>
                    Scala</option>
                <option value=12 {% if languages %}{% if "12" in languages.value %} selected {% endif %}{% endif %}>Go
                </option>
            </select>
            <br>
            <!-- 7 -->
            <label>Биография:</label><br>

            <textarea id="biography" cols="60" rows="8"
                name="bio">{% if bio %}{{ bio.value }} {% endif %}</textarea><br><br>

            <!-- 8 -->
            <label><input type="checkbox" checked="checked" name="check-1" />
                С контрактом ознакомлен(а)</label><br>
            {% if er_contract_agreed %}
            <label class="error-message"> {{er_contract_agreed.value}} </label> <br>
            {% endif %}

            <input type="submit" value="Сохранить"><br><br>
            <!-- 9 -->
            
        </form>
    </div>
    <footer>
        <p> Ковязин Кирилл (c)</p>
    </footer>
</body>